<?xml version="1.0" encoding="UTF-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="6335fa26-c01e-4e88-b714-effc8096fc01"
    Publisher="CN=User Name"
    Version="1.4.0.0" />

  <mp:PhoneIdentity PhoneProductId="6335fa26-c01e-4e88-b714-effc8096fc01" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ManpLab - Fractal Explorer</DisplayName>
    <PublisherDisplayName>User Name</PublisherDisplayName>
    <Logo>Assets\ManpLab-Square150x150Logo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ManpLab - Fractal Explorer"
        Description="ManpLab - Fractal Explorer"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\ManpLab-Square150x150Logo.png"
        Square44x44Logo="Assets\ManpLab-Square44x44Logo.png">
        <uap:DefaultTile 
          Wide310x150Logo="Assets\ManpLab-Wide310x150Logo.png"
          Square310x310Logo="Assets\ManpLab-Square310x310Logo.png"
          Square71x71Logo="Assets\ManpLab-Square71x71Logo.png"
          ShortName="ManpLab">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\ManpLab-SplashScreen.png" BackgroundColor="transparent" />
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\ManpLab-BadgeLogo.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>

